name: Release

on:
  # Support manually pushing a new release
  workflow_dispatch: {}
  # Trigger when a release or pre-release is published
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --locked
      - name: Test
        run: uv run pytest
      - name: Build
        run: uv build
      - name: Publish
        env:
          TWINE_NON_INTERACTIVE: true
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: uvx twine upload dist/* --skip-existing
